
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="../dist/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/popper.min.js"></script>
    <script src="../dist/js/require.js"></script>

<script src="../assets/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="../assets/dist/css/bootstrap-multiselect.css" type="text/css"/>





    <title>Lexia</title>

    <!-- Bootstrap core CSS -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example-getting-started').multiselect();
        });
    </script>
    <!-- Custom styles for this template -->
  </head>

  <body>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Itone</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" [routerLink]="['palanalisis']">
                  <span data-feather="shopping-cart"></span>
                  Analisis Texto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['palabras']">
                  <span data-feather="file"></span>
                  Georeferencias
                </a>
              </li>

            </ul>


          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <input class="form-control w-100" [(ngModel)]="model.palabras" name="palabras" id="palabras" #palabras="ngModel" type="text" placeholder="Buscar Palabras" aria-label="Search">


                <div class="input-group-append">

                </div>
              </div>
              <button class="btn btn-sm btn-outline-primary" (click)="reportePalabras()">Buscar Conceptos</button>

            </div>
          </div>


          <div *ngIf="enproceso">
            <h2>EN PROCESO, FAVOR ESPERE</h2>
          </div>


<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
   <ngb-panel title="Resultado Búsqueda de concepto: {{palabra}} en los temas definidos:">
     <ng-template ngbPanelContent>
                    <ul class="list-group">
                    <li *ngFor="let f of frases" color="danger" class="list-group-item d-flex justify-content-between align-items-center" (click)="detalleConcepto(f._id)">
                      {{f._id}}
                      <span class="badge badge-primary badge-pill">{{f.total}}</span>
                    </li>
                  </ul>
                  </ng-template>
                </ngb-panel>
                </ngb-accordion>










        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/vendor/jquery-slim.min.js"><\/script>')</script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->

  </body>
</html>
